@import './reset.scss';
@import './variables.scss';
@import './font.scss';

::-moz-selection { /* Code for Firefox */
  color: #89C445;
  background: #202329;
}

::selection {
  color: #89C445;
  background: #202329;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar {
  background-color: #202329;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #89C445;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

* {
  font-family: 'Kanit', sans-serif;
}
